@media screen and (max-width:1601px){
	header{
		height:9%;
	}
	.small{
		height:65%;
		margin-top:11%;
	}
	nav ul a{
		font-size:17px;
	}
	img[src="../img/logo.png"]{
		width:220px;
		height:30px;
	}
	#home article p{
	font-size:22px;	
	}
	#home{
		height:50%;
	}
}
@media screen and (max-width:1330px){
	header{
		height:8%;
	}
	nav ul a{
		font-size:16px;
	}
	.small{
		height:70%;
	}
	img[src="assets/img/logo.png"]{
		width:240px;
		height:42px;
	}
	#home article p{
	font-size:20px;	
	}
	#home{
		height:50%;
	}
}
@media screen and (max-width:1282px){
	.container2 p{
		font-size:16px;
	}
	.container2 h2{
		font-size:22px;
	}
	.container2 h3{
		font-size:20px;
	}
	#home article p{
	font-size:18px;	
	}
	#home{
		height:50%;
	}
}
@media screen and (max-width:1180px){
	header{
		height:7%;
	}
	nav ul a{
		font-size:12px;
	}
	img[src="assets/img/logo.png"]{
		width:220px;
		height:36px;
	}
	.small{
		width:65%;
	}
	.container2 p{
		font-size:15px;
	}
	.container2 h2{
		font-size:20px;
	}
	.container2 h3{
		font-size:18px;
	}
	#home article p{
	font-size:17px;	
	}
	#home{
		height:50%;
	}
}
@media screen and (max-width:1041px){
	header{
		height:6%;
	}
	nav ul a{
		font-size:12px;
	}
	img[src="assets/img/logo.png"]{
		width:180px;
		height:30px;
	}
}
@media screen and (max-width:940px){
		nav ul a{
		font-size:11px;
	}
	img[src="assets/img/logo.png"]{
		width:160px;
		height:24px;
	}
}


